*, *:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Roboto Slab', serif;
  font-size: 10px;
  text-align: center;
  background: #faf7f0;
}

h1, h2 {
  font-weight: normal;
}

#app {
  padding: 4rem 0;
}
#app > h1 {
  font-size: 2rem;
  margin-bottom: 0rem;
}
#app > h2 {
  font-size: 1.6rem;
  margin-bottom: 4rem;
  opacity: 0.5;
}
